

USE [master]
GO


/****** Object:  Database [DO_AN]     ******/
CREATE DATABASE [DO_AN]
GO



USE [DO_AN]
GO



/****** Object:  Table [dbo].[GIAO_VIEN]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAO_VIEN](
	[Ma_gv] [nchar](10) NOT NULL,
	[Ten_gv] [nvarchar](50) NULL,
	[Gioi_tinh] [nchar](10) NULL,
	[Nam_sinh] [nchar](10) NULL,
	[Bo_mon] [nvarchar](50) NULL,
	[Trinh_do] [nchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[So_dt] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIAO_VIEN] PRIMARY KEY CLUSTERED 
(
	[Ma_gv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LICH]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH](
	[Ma_lich] [nchar](10) NOT NULL,
	[Ma_lop] [nchar](10) NULL,
	[Ma_phong] [nchar](10) NULL,
	[Tuan] [nchar](10) NULL,
	[Thu] [nchar](10) NULL,
	[Tiet_bd] [int] NULL,
	[Tiet_kt] [int] NULL,
 CONSTRAINT [PK_LICH] PRIMARY KEY CLUSTERED 
(
	[Ma_lich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[Ma_lop] [nchar](10) NOT NULL,
	[Ten_lop] [nchar](10) NULL,
	[Ma_gv] [nchar](10) NULL,
	[Ma_mon] [nchar](10) NULL,
	[So_sv] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[Ma_lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[Ma_mon] [nchar](10) NOT NULL,
	[Ten_mon] [nvarchar](50) NULL,
	[So_tinchi] [float] NULL,
 CONSTRAINT [PK_MON] PRIMARY KEY CLUSTERED 
(
	[Ma_mon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[Ma_phong] [nchar](10) NOT NULL,
	[Ten_phong] [nchar](10) NULL,
	[So_tbi] [int] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[Ma_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[GIAO_VIEN] ([Ma_gv], [Ten_gv], [Gioi_tinh], [Nam_sinh], [Bo_mon], [Trinh_do], [Email], [So_dt]) VALUES (N'GV01      ', N'Nguyễn Minh', N'Nam       ', N'9/6/1992  ', N'Công nghệ phần mềm', N'Thạc Sĩ   ', N'nguyenminh@gmail.com', N'0975515943')
INSERT [dbo].[GIAO_VIEN] ([Ma_gv], [Ten_gv], [Gioi_tinh], [Nam_sinh], [Bo_mon], [Trinh_do], [Email], [So_dt]) VALUES (N'GV02      ', N'Lê Hải', N'Nam       ', N'20/9/1991 ', N'Mạng và truyền thông', N'Kỹ Sư     ', N'lehai@yahoo.com', N'0912341290')
INSERT [dbo].[GIAO_VIEN] ([Ma_gv], [Ten_gv], [Gioi_tinh], [Nam_sinh], [Bo_mon], [Trinh_do], [Email], [So_dt]) VALUES (N'GV03      ', N'Mỹ Hạnh', N'Nữ        ', N'22/5/1976 ', N'Công nghệ phần mềm', N'Tiến Sĩ   ', N'hanh@gmail.com', N'012345678')
INSERT [dbo].[LICH] ([Ma_lich], [Ma_lop], [Ma_phong], [Tuan], [Thu], [Tiet_bd], [Tiet_kt]) VALUES (N'Li00      ', N'L01       ', N'P05       ', N'13 11 16  ', N'Sáu       ', 7, 10)
INSERT [dbo].[LICH] ([Ma_lich], [Ma_lop], [Ma_phong], [Tuan], [Thu], [Tiet_bd], [Tiet_kt]) VALUES (N'Li01      ', N'L02       ', N'P05       ', N'17 18 5   ', N'Bảy       ', 7, 10)
INSERT [dbo].[LICH] ([Ma_lich], [Ma_lop], [Ma_phong], [Tuan], [Thu], [Tiet_bd], [Tiet_kt]) VALUES (N'Li02      ', N'L03       ', N'P01       ', N'7 13 12   ', N'Hai       ', 1, 5)
INSERT [dbo].[LOP] ([Ma_lop], [Ten_lop], [Ma_gv], [Ma_mon], [So_sv]) VALUES (N'L01       ', N'Trr1      ', N'GV06      ', N'M01       ', 30)
INSERT [dbo].[LOP] ([Ma_lop], [Ten_lop], [Ma_gv], [Ma_mon], [So_sv]) VALUES (N'L02       ', N'Trr2      ', N'GV02      ', N'M01       ', 30)
INSERT [dbo].[LOP] ([Ma_lop], [Ten_lop], [Ma_gv], [Ma_mon], [So_sv]) VALUES (N'L03       ', N'CTDL1     ', N'GV06      ', N'M02       ', 35)
INSERT [dbo].[MON] ([Ma_mon], [Ten_mon], [So_tinchi]) VALUES (N'M01       ', N'Toán Rời Rạc', 1)
INSERT [dbo].[MON] ([Ma_mon], [Ten_mon], [So_tinchi]) VALUES (N'M02       ', N'Cấu trúc dữ liệu', 1)
INSERT [dbo].[MON] ([Ma_mon], [Ten_mon], [So_tinchi]) VALUES (N'M03       ', N'Java', 1)
INSERT [dbo].[PHONG] ([Ma_phong], [Ten_phong], [So_tbi]) VALUES (N'P01       ', N'C103      ', 40)
INSERT [dbo].[PHONG] ([Ma_phong], [Ten_phong], [So_tbi]) VALUES (N'P02       ', N'A121      ', 45)
INSERT [dbo].[PHONG] ([Ma_phong], [Ten_phong], [So_tbi]) VALUES (N'P03       ', N'B122      ', 40)
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_LOP] FOREIGN KEY([Ma_lop])
REFERENCES [dbo].[LOP] ([Ma_lop])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_LOP]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_PHONG] FOREIGN KEY([Ma_phong])
REFERENCES [dbo].[PHONG] ([Ma_phong])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_PHONG]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_GIAO_VIEN] FOREIGN KEY([Ma_gv])
REFERENCES [dbo].[GIAO_VIEN] ([Ma_gv])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_GIAO_VIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_MON] FOREIGN KEY([Ma_mon])
REFERENCES [dbo].[MON] ([Ma_mon])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_MON]
GO
/****** Object:  Statistic [_WA_Sys_00000002_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000002_0519C6AF] ON [dbo].[GIAO_VIEN]([Ten_gv]) WITH STATS_STREAM = 0x010000000100000000000000000000006E081F4100000000E602000000000000A602000000000000E702FFFFE7000000640000000000000008D000340000000007000000EE57380179A40000070000000000000007000000000000000000803F2549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000DBB60D410000E04000000000DBB60D41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000A20000000000000032010000000000003A0100000000000020000000000000003D000000000000005A000000000000007500000000000000300010000000803F000000000000803F04000001001D00440075006300300010000000803F000000000000803F04000001001D00480061006900300010000000803F000000000000803F04000001001B006B006100300010000000803F000040400000803F04000001002D004E00670075007900C51E6E0020004D0069006E006800FF01000000000000000700000007000000280000002800000000000000000000001A0000004400750063004800610069006B0061004D0069006E0068004E00610067007500790065006E00C51E6E0020004D0069006E0068000A0000004000000000810300000081030300008102060000810408000040010C000081010D000040030E000081021100000107130000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000003_0519C6AF] ON [dbo].[GIAO_VIEN]([Gioi_tinh]) WITH STATS_STREAM = 0x010000000100000000000000000000003CD7406000000000BE020000000000007E02000000000000EF020000EF000000140000000000000008D000340000000007000000ED57380179A400000700000000000000070000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A0410000E040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D000000000000000A01000000000000120100000000000018000000000000003F0000000000000066000000000000001000240000004040000000000000803F20002000200020002000200020002000200020000400001000240000004040000000000000803F4E0061006D002000200020002000200020002000040000100024000000803F000000000000803F4E00EF1E20002000200020002000200020002000040000FF01000000000000000700000003000000280000002800000000000000000000001D00000020002000200020002000200020002000200020004E0061006D002000200020002000200020002000EF1E20002000200020002000200020002000050000004000000000830A00000040010A000083090B00000109140000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000004_0519C6AF] ON [dbo].[GIAO_VIEN]([Nam_sinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000D55D349400000000BC020000000000007C02000000000000EF020000EF000000140000000000000008D000340000000007000000E557380179A400000700000000000000070000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A0410000E040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D000000000000000801000000000000100100000000000018000000000000003F0000000000000066000000000000001000240000004040000000000000803F2000200020002000200020002000200020002000040000100024000000803F000000000000803F31003900380032002000200020002000200020000400001000240000004040000000000000803F3100390039003200200020002000200020002000040000FF01000000000000000700000003000000280000002800000000000000000000001C0000002000200020002000200020002000200020002000310039003800320020002000200020002000200039003200200020002000200020002000050000004000000000830A00000040020A000081080C00000308140000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000005_0519C6AF] ON [dbo].[GIAO_VIEN]([Bo_mon]) WITH STATS_STREAM = 0x010000000100000000000000000000009CFB87F70000000067020000000000002702000000000000E7025F00E7000000640000000000000008D000340000000007000000E457380179A40000070000000000000007000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000004992E4400000E040000000004992E4400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004800000000000000B300000000000000BB0000000000000010000000000000002300000000000000100010000000A040000000000000803F040000300010000000803F0000803F0000803F0400000100250054006900BF1E6E00200053002901FF0100000000000000070000000300000028000000280000000000000000000000190000004300F4006E00670020006E0067006800C71E200070006800A71E6E0020006D00C11E6D0054006900BF1E6E0020005300290103000000450000000081120000000107120000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000006_0519C6AF] ON [dbo].[GIAO_VIEN]([Trinh_do]) WITH STATS_STREAM = 0x010000000100000000000000000000008C72D4F50000000073020000000000003302000000000000EF020034EF000000140000000000000008D000340700000007000000DE57380179A4000007000000000000000700000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A0410000E040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BF00000000000000C70000000000000010000000000000003700000000000000100024000000C040000000000000803F2000200020002000200020002000200020002000040000100024000000803F000000000000803F54006900BF1E6E00200053002901200020002000040000FF010000000000000007000000020000002800000028000000000000000000000014000000200020002000200020002000200020002000200054006900BF1E6E00200053002901200020002000030000004000000000860A000000010A0A0000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000007_0519C6AF] ON [dbo].[GIAO_VIEN]([Email]) WITH STATS_STREAM = 0x01000000010000000000000000000000ABDA284B0000000042020000000000000202000000000000E7020000E7000000640000000000000008D000340000000007000000DC57380179A4000007000000000000000700000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000254912400000E04000000000254912400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004A000000000000008E00000000000000960000000000000010000000000000002300000000000000100010000000C040000000000000803F040000300010000000803F000000000000803F040000010027006D0069006E0068004000680075007500FF0100000000000000070000000200000028000000280000000000000000000000080000006D0069006E00680040006800750075000200000046000000000108000000000700000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_0519C6AF]     ******/
CREATE STATISTICS [_WA_Sys_00000008_0519C6AF] ON [dbo].[GIAO_VIEN]([So_dt]) WITH STATS_STREAM = 0x010000000100000000000000000000003D1697A9000000004A020000000000000A02000000000000E7020000E7000000640000000000000008D000340000000007000000DB57380179A4000007000000000000000700000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000006EDB36400000E040000000006EDB36400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004E0000000000000096000000000000009E0000000000000010000000000000002300000000000000100010000000C040000000000000803F040000300010000000803F000000000000803F04000001002B003000390037003500350031003500390034003300FF01000000000000000700000002000000280000002800000000000000000000000A0000003000390037003500350031003500390034003300020000004600000000010A000000000700000000000000
GO
/****** Object:  Statistic [PK_GIAO_VIEN]     ******/
UPDATE STATISTICS [dbo].[GIAO_VIEN]([PK_GIAO_VIEN]) WITH STATS_STREAM = 0x01000000010000000000000000000000DC399FAF000000005E030000000000001E03000000000000EF030000EF000000140000000000000008D000340000000007000000D057380179A40000070000000000000007000000000000000000803F2549123E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000240000000000A0410000E040000000000000A041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000EB00000000000000AA01000000000000B20100000000000028000000000000004F0000000000000076000000000000009D00000000000000C400000000000000100024000000803F000000000000803F4700560030003100200020002000200020002000040000100024000000803F0000803F0000803F4700560030003300200020002000200020002000040000100024000000803F0000803F0000803F4700560030003500200020002000200020002000040000100024000000803F000000000000803F4700560030003700200020002000200020002000040000100024000000803F000000000000803F4700560030003800200020002000200020002000040000FF01000000000000000700000007000000280000002800000000000000000000003400000047005600300031002000200020002000200020003200200020002000200020002000330020002000200020002000200034002000200020002000200020003500200020002000200020002000370020002000200020002000200038002000200020002000200020000900000040000000004003000000810703000081070A00008107110000810718000081071F0000810726000001072D0000000700000000000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_07020F21]     ******/
CREATE STATISTICS [_WA_Sys_00000002_07020F21] ON [dbo].[LICH]([Ma_lop]) WITH STATS_STREAM = 0x010000000100000000000000000000000E5D6BD1000000002B02000000000000EB01000000000000EF020081EF000000140000000000000008D000340000000007000000CBD89B007AA4000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F0000000000000008000000000000001000240000000040000000000000803F4C00300031002000200020002000200020002000040000FF01000000000000000200000001000000280000002800000000000000000000000A0000004C00300031002000200020002000200020002000020000004000000000020A000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_07020F21]     ******/
CREATE STATISTICS [_WA_Sys_00000003_07020F21] ON [dbo].[LICH]([Ma_phong]) WITH STATS_STREAM = 0x0100000001000000000000000000000086F54EA3000000002B02000000000000EB01000000000000EF020081EF000000140000000000000008D000340000000007000000CAD89B007AA4000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002F0000000000000077000000000000007F0000000000000008000000000000001000240000000040000000000000803F4700560030003200200020002000200020002000040000FF01000000000000000200000001000000280000002800000000000000000000000A0000004700560030003200200020002000200020002000020000004000000000020A000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_07020F21]     ******/
CREATE STATISTICS [_WA_Sys_00000004_07020F21] ON [dbo].[LICH]([Tuan]) WITH STATS_STREAM = 0x0100000001000000000000000000000012D3194F0000000073020000000000003302000000000000EF020000EF000000140000000000000008D000340000000007000000C9D89B007AA4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BF00000000000000C70000000000000010000000000000003700000000000000100024000000803F000000000000803F34002D0037002000200020002000200020002000040000100024000000803F000000000000803F36002D0038002000200020002000200020002000040000FF01000000000000000200000002000000280000002800000000000000000000001400000034002D003700200020002000200020002000200036002D0038002000200020002000200020002000030000004000000000810A000000010A0A0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_07020F21]     ******/
CREATE STATISTICS [_WA_Sys_00000005_07020F21] ON [dbo].[LICH]([Thu]) WITH STATS_STREAM = 0x010000000100000000000000000000001551A0AB0000000073020000000000003302000000000000EF020000EF000000140000000000000008D000340000000007000000C8D89B007AA4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BF00000000000000C70000000000000010000000000000003700000000000000100024000000803F000000000000803F4200610020002000200020002000200020002000040000100024000000803F000000000000803F5400B00120002000200020002000200020002000040000FF01000000000000000200000002000000280000002800000000000000000000001400000042006100200020002000200020002000200020005400B00120002000200020002000200020002000030000004000000000810A000000010A0A0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_07020F21]     ******/
CREATE STATISTICS [_WA_Sys_00000006_07020F21] ON [dbo].[LICH]([Tiet_bd]) WITH STATS_STREAM = 0x010000000100000000000000000000002C6AB95D00000000CB010000000000008B01000000000000380200003800000004000A0000000000000000007F00000007000000C7D89B007AA4000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F010000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_07020F21]     ******/
CREATE STATISTICS [_WA_Sys_00000007_07020F21] ON [dbo].[LICH]([Tiet_kt]) WITH STATS_STREAM = 0x01000000010000000000000000000000B1864D2000000000CB010000000000008B01000000000000380200003800000004000A0000000000000000007F00000007000000C2D89B007AA4000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F010000000400000200000000000000
GO
/****** Object:  Statistic [PK_LICH]     ******/
UPDATE STATISTICS [dbo].[LICH]([PK_LICH]) WITH STATS_STREAM = 0x01000000010000000000000000000000674A3AB40000000073020000000000003302000000000000EF030000EF000000140000000000000008D00034010000000700000097D89B007AA4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BF00000000000000C70000000000000010000000000000003700000000000000100024000000803F000000000000803F2000200020002000200020002000200020002000040000100024000000803F000000000000803F4C00690030003100200020002000200020002000040000FF01000000000000000200000002000000280000002800000000000000000000001400000020002000200020002000200020002000200020004C00690030003100200020002000200020002000030000004000000000810A000000010A0A0000000200000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_014935CB]     ******/
CREATE STATISTICS [_WA_Sys_00000002_014935CB] ON [dbo].[LOP]([Ten_lop]) WITH STATS_STREAM = 0x01000000010000000000000000000000E20BFA4200000000BC020000000000007C02000000000000EF020000EF000000140000000000000008D000340000000007000000540699007BA400000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D000000000000000801000000000000100100000000000018000000000000003F000000000000006600000000000000100024000000803F000000000000803F4B00680069002000200020002000200020002000040000100024000000803F000000000000803F5600750020002000200020002000200020002000040000100024000000803F000000000000803F5600750069006B00680069002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000001C0000004B00680069002000200020002000200020002000560075002000200020002000200020002000200069006B00680069002000200020002000050000004000000000810A00000040020A000081080C00000108140000000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_014935CB]     ******/
CREATE STATISTICS [_WA_Sys_00000003_014935CB] ON [dbo].[LOP]([Ma_gv]) WITH STATS_STREAM = 0x01000000010000000000000000000000644A867C0000000072020000000000003202000000000000EF020000EF000000140000000000000008D00034010000000700000070E311017AA4000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000BE00000000000000C600000000000000100000000000000037000000000000001000240000000040000000000000803F4700560030003100200020002000200020002000040000100024000000803F000000000000803F4700560030003200200020002000200020002000040000FF010000000000000003000000020000002800000028000000000000000000000011000000470056003000310020002000200020002000200032002000200020002000200020000400000040000000004003000000820703000001070A0000000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_014935CB]     ******/
CREATE STATISTICS [_WA_Sys_00000004_014935CB] ON [dbo].[LOP]([Ma_mon]) WITH STATS_STREAM = 0x01000000010000000000000000000000D3044B980000000074020000000000003402000000000000EF020000EF000000140000000000000008D000340100000007000000B56312017AA4000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000C000000000000000C800000000000000100000000000000037000000000000001000240000000040000000000000803F4D00300031002000200020002000200020002000040000100024000000803F000000000000803F4D00300032002000200020002000200020002000040000FF0100000000000000030000000200000028000000280000000000000000000000120000004D00300031002000200020002000200020002000320020002000200020002000200020000400000040000000004002000000820802000001080A0000000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_014935CB]     ******/
CREATE STATISTICS [_WA_Sys_00000005_014935CB] ON [dbo].[LOP]([So_sv]) WITH STATS_STREAM = 0x01000000010000000000000000000000CD1DC9A800000000EA01000000000000AA01000000000000380213003800000004000A0000000000000000000000000007000000450699007BA40000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F14000000040000100014000000803F0000803F0000803F1E0000000400000300000000000000
GO
/****** Object:  Statistic [PK_LOP]     ******/
UPDATE STATISTICS [dbo].[LOP]([PK_LOP]) WITH STATS_STREAM = 0x010000000100000000000000000000009BE74F3A0000000089020000000000004902000000000000EF030000EF000000140000000000000008D000340000000007000000ABD51D017AA40000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000D500000000000000DD0000000000000010000000000000003700000000000000100024000000803F000000000000803F4C00300031002000200020002000200020002000040000100024000000803F0000803F0000803F4C00300033002000200020002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000001A0000004C0030003100200020002000200020002000200032002000200020002000200020002000330020002000200020002000200020000500000040000000004002000000810802000081080A00000108120000000300000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_03317E3D]     ******/
CREATE STATISTICS [_WA_Sys_00000002_03317E3D] ON [dbo].[MON]([Ten_mon]) WITH STATS_STREAM = 0x01000000010000000000000000000000D8901A120000000060020000000000002002000000000000E7020000E7000000640000000000000008D0003400000000070000000FE80C017AA4000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000050410000004000000000000050410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005800000000000000AC00000000000000B40000000000000010000000000000003300000000000000300010000000803F000000000000803F04000001002300540048004300530044004C00300010000000803F000000000000803F04000001002500540048004C005400480044005400FF01000000000000000200000002000000280000002800000000000000000000000B000000540048004300530044004C004C005400480044005400040000004000000000400200000081040200000105060000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_03317E3D]     ******/
CREATE STATISTICS [_WA_Sys_00000003_03317E3D] ON [dbo].[MON]([So_tinchi]) WITH STATS_STREAM = 0x01000000010000000000000000000000F1825DF800000000F201000000000000B2010000000000003E0213003E00000008003500000000000000000053007400070000005E2199007BA4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F000000000000E03F040000100018000000803F000000000000803F000000000000F03F0400000200000000000000
GO
/****** Object:  Statistic [PK_MON]     ******/
UPDATE STATISTICS [dbo].[MON]([PK_MON]) WITH STATS_STREAM = 0x010000000100000000000000000000001A991ACA0000000074020000000000003402000000000000EF030000EF000000140000000000000008D000340000000007000000B36312017AA4000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000240000000000A04100000040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000005E00000000000000C000000000000000C80000000000000010000000000000003700000000000000100024000000803F000000000000803F4D00300031002000200020002000200020002000040000100024000000803F000000000000803F4D00300032002000200020002000200020002000040000FF0100000000000000020000000200000028000000280000000000000000000000120000004D00300031002000200020002000200020002000320020002000200020002000200020000400000040000000004002000000810802000001080A0000000200000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_7D78A4E7]     ******/
CREATE STATISTICS [_WA_Sys_00000002_7D78A4E7] ON [dbo].[PHONG]([Ten_phong]) WITH STATS_STREAM = 0x01000000010000000000000000000000EBF7C37400000000BB020000000000007B02000000000000EF020000EF000000140000000000000008D000340000000007000000308B9C007AA400000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D0000000000000007010000000000000F0100000000000018000000000000003F000000000000006600000000000000100024000000803F000000000000803F4800610020002000200020002000200020002000040000100024000000803F000000000000803F4E00680075006E00670020002000200020002000040000100024000000803F000000000000803F5600750069002000200020002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000001E00000048006100200020002000200020002000200020004E00680075006E006700200020002000200020005600750069002000200020002000200020002000040000004000000000810A000000810A0A0000010A140000000300000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_7D78A4E7]     ******/
CREATE STATISTICS [_WA_Sys_00000003_7D78A4E7] ON [dbo].[PHONG]([So_tbi]) WITH STATS_STREAM = 0x01000000010000000000000000000000EB1283E900000000EA01000000000000AA010000000000003802FFFF3800000004000A00000000000000000000000000070000002F8B9C007AA40000030000000000000003000000000000000000803FABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F1E000000040000100014000000803F0000803F0000803F200000000400000300000000000000
GO
/****** Object:  Statistic [PK_PHONG]     ******/
UPDATE STATISTICS [dbo].[PHONG]([PK_PHONG]) WITH STATS_STREAM = 0x01000000010000000000000000000000B19659DD00000000BC020000000000007C02000000000000EF034040EF000000140000000000000008D0003400000000070000002E8B9C007AA400000300000000000000030000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000240000000000A04100004040000000000000A0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008D000000000000000801000000000000100100000000000018000000000000003F000000000000006600000000000000100024000000803F000000000000803F4700560030003200200020002000200020002000040000100024000000803F000000000000803F5000300031002000200020002000200020002000040000100024000000803F000000000000803F5000300033002000200020002000200020002000040000FF01000000000000000300000003000000280000002800000000000000000000001C0000004700560030003200200020002000200020002000500030003100200020002000200020002000200033002000200020002000200020002000050000004000000000810A00000040020A000081080C00000108140000000300000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
USE [master]
GO
